<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Welcome | </title>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="{{url_for('index')}}"" class="brand-logo">Welcome</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{{url_for('register')}}">Resgister</a></li>
				<li><a href="{{url_for('login')}}"></a>Login</li>

			</ul>
		</div>
	</nav>
	{% block content %}

	{% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		// initialization functions from Materialize 
		$(document).ready(function() {
		$('.collapsible').collapsible();		
		});
        
	</script>
</body>

</html>